<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pratama.onboarding">

    <application>
        <provider
            android:name=".OnboardRouteProvider"
            android:authorities="com.pratama.onboarding.OnboardRouteProvider" />

        <activity android:name=".OnboardingActivity"></activity>
    </application>

</manifest>